/* Reset */
*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins', sans-serif;
}

/* Page Background */
body{
background:linear-gradient(135deg,#f5f7fa,#e4ecf7);
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
padding:40px;
}

/* Booking Card */
.booking-box{
background:white;
width:420px;
padding:35px;
border-radius:12px;
box-shadow:0 10px 30px rgba(0,0,0,0.1);
}

/* Title */
.booking-box h2{
font-size:26px;
margin-bottom:10px;
color:#333;
}

/* Price Text */
.booking-box p{
margin-bottom:20px;
font-size:16px;
color:#666;
}

/* Labels */
.booking-box label{
display:block;
margin-bottom:6px;
font-weight:500;
color:#444;
}

/* Inputs */
.booking-box input{
width:100%;
padding:12px;
margin-bottom:18px;
border:1px solid #ddd;
border-radius:6px;
font-size:14px;
transition:0.3s;
}

/* Input Focus */
.booking-box input:focus{
border-color:#ff6b35;
outline:none;
box-shadow:0 0 5px rgba(255,107,53,0.3);
}

/* Confirm Button */
.booking-box button{
width:100%;
padding:14px;
margin-top: 10px;
background:#c47a2c;
border:none;
border-radius:8px;
color:white;
font-size:16px;
font-weight:600;
cursor:pointer;
transition:0.3s;
}

/* Button Hover */
.booking-box button:hover{
background:#c47a2c;
transform:translateY(-2px);
}

/* Small price highlight */
.price-highlight{
color:#c47a2c;
font-weight:600;
}

/* Responsive */
@media(max-width:500px){

.booking-box{
width:90%;
padding:25px;
}

}
/* PAYMENT SECTION */

.payment-methods{
display:flex;
gap:10px;
margin-top:10px;
flex-wrap:wrap;
}

.payment-card{
margin-left: 40px;
border:2px solid #ddd;
border-radius:10px;
padding:15px;
width:220px;
cursor:pointer;
transition:0.3s;
display:flex;
align-items:center;
gap:10px;
background:white;
}

.payment-card input{
transform:scale(1.3);
}

.payment-card:hover{
border-color:#ff6b00;
box-shadow:0 3px 8px rgba(0,0,0,0.1);
}

.payment-content h4{
margin:0;
font-size:16px;
color:#333;
}

.payment-content p{
margin:3px 0 0;
font-size:13px;
color:#777;
}
